[init]
  defaultBranch = main
  templatedir = ~/.git_template
[include]
    path = ~/.gitconfig_local
[fetch]
  prune = true
[alias]
	next = "!f() { git checkout `git rev-list HEAD..${1} | tail -1`; }; f"
	previous = "!f() { git checkout `git rev-list ${1}..HEAD | head -2 | tail -1`; }; f"